@charset "utf-8";
/* CSS Document */
.classifyMain{
	padding-bottom:35px;
}
.classifyList{
	width:1190px;
	height:auto;
	overflow:hidden;
	padding-top:40px;
	padding-bottom:55px;
}
.classifyList ul{
	margin-top:1px;
	margin-left:1px;
}
.classifyList ul li{
	width:98px;
	height:38px;
	overflow:hidden;
	float:left;
	font-family:"Microsoft YaHei", "微软雅黑", "黑体";
	font-size:16px;
	text-align:center;
	border: 1px solid #e5e5e5;
	margin:-1px -1px 0px 0px;
}
.classifyList ul li a,.classifyList ul li span{
	display:block;
	width:98px;
	height:38px;
	line-height:38px;
	color:#333333;
}
.classifyList ul li a:hover{
	background-color:#f2f2f2;
}
.classifyList ul li a.curr{
	background-color:#0099ff;
	color:#ffffff;
}
.classifyList ul li b{
	display:block;
	width:98px;
	height:38px;
	background:url(../images/more-bg.jpg) no-repeat;
	background-position:0px 0px;
	cursor:pointer;
}
.classifyList ul li b.kaiqi{
	background-position:0px -38px;
}
.classifyTitle{
	width:100%;
	height:41px;
	overflow:hidden;
	position:relative;
	top:0px;
	left:0px;
}
.classifyTitle .line{
	width:100%;
	height:1px;
	overflow:hidden;
	position:absolute;
	top:20px;
	left:0px;
	z-index:1px;
	background-color:#e9e9e9;
}
.classifyTitle .title{
	width:176px;
	height:41px;
	line-height:41px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-88px;
	z-index:2;
	background-color:#ffffff;
}
.classifyTitle .title h3{
	font-family:"Microsoft YaHei", "微软雅黑", "黑体";
	font-size:28px;
	font-weight:normal;
	color:#000000;
}
.classifyListTwo{
	width:1190px;
	height:auto;
	overflow:hidden;
	margin-top:0px;
}
.classifyListTwo p{
	padding:30px 60px;
	text-align:center;
	font-family:"Microsoft YaHei", "微软雅黑", "黑体";
	font-size:16px;
	line-height:35px;
	color:#333333;
}
.classifyListTwo p a{
	display:inline-block;
	margin:0 14px;
	font-size:16px;
	color:#333333;
	border-bottom:#fff 3px solid;
	height: 24px;
  line-height: 24px;
  margin-bottom: 7px;
}
.classifyListTwo p a:hover,.classifyListTwo p a.hoverOn{
	border-bottom:#0099ff 3px solid;
}
.classifyListBox,.classifyListBoxNo{
	width:100%;
	min-width:1190px;
	height:auto;
	min-height:550px;
	overflow:hidden;
}
.classifyListImg ul{
	padding:0 0 0 5px;
}
.classifyListImg ul li{
	width:20%;
	overflow:hidden;
	float:left;
	padding-bottom:15px;
}
.classifyListImg ul li .subList{
	padding:0 10px 0 5px;
}
.classifyListImg ul li a{
	display:block;
	width:364px;
	position:relative;
	top:0px;
	left:0px;
}
.classifyListImg ul li a.img img{
	width:100%;
	height:auto;
	overflow:hidden;
}
.classifyListImg ul li a.img i{
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#000000;
	filter: alpha(opacity=40);
	opacity:0.4;
}
.classifyListImg ul li a.img b{
	display:none;
	width:64px;
	height:55px;
	overflow:hidden;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-32px;
	margin-top:-38px;
	background:url(../images/icon-arrow.png) no-repeat;
}
.classifyListImg ul li a.text{
	display:block;
	width:100%;
	height:68px;
	line-height:68px;
	overflow:hidden;
	background-color:#f5f6f5;
	font-family:"Microsoft YaHei", "微软雅黑", "黑体";
	font-size:16px;
	color:#666666;
}
.classifyListImg ul li.on a.text{
	background-color:#0099ff;
	color:#ffffff;
}
/*setpage strat*/
.classifyPage{
	width:100%;
	height:67px;
	padding-top:35px;
	overflow:hidden;
}
.setpage {
	position:static;
	text-align: center;
	width:100%;
	height:52px;
	line-height:52px;
	overflow: hidden;
	font-family: "Microsoft YaHei", "微软雅黑", "黑体";
	font-size: 17px;
	color: #666666;
}
.setpage a {
	display:inline-block;
	color:#666666;
	height:50px;
	line-height:50px;
	padding:0px 21px;
	overflow:hidden;
	border:#e8e8e6 1px solid;
	margin:0px 5px; 
}
.setpage a:hover {
	color:#ffffff;
	background-color:#0099ff;
	border:#0099ff 1px solid;
}
.setpage span {
	display:inline-block;
	color:#666666;
	/*height:50px;*/
	line-height:50px;
	padding:0px 21px;
	overflow:hidden;
/*	border:#e8e8e6 1px solid;
*/	margin:0px 5px;
}
.setpage span.current {
	color:#ffffff;
	background-color:#0099ff;
	border:#0099ff 1px solid;
}
/*setpage end*/
/*20151207End*/
.noExhibitors{
	width:100%;
	height:193px;
	overflow:hidden;
	line-height:193px;
}
.noExhibitors p{
	font-family:"Microsoft YaHei", "微软雅黑", "黑体";
	font-size:25px;
	color:#333333;
}
.hotBoothTitle{
	width:100%;
	height:58px;
	line-height:58px;
	overflow:hidden;
	text-align:left;
}
.hotBoothTitle p{
	padding-left:30px;
	font-family:"Microsoft YaHei", "微软雅黑", "黑体";
	font-size:18px;
	color:#333333;
}
.hotBoothTitle p span{
	color:#ff8b3d;
	padding-left:5px;
}
/*20151222 noExhibitorstishi End*/
/*----------20160428  add index------------*/
.wlzgTop{
	width:100%;
	height:400px;
	overflow:hidden;
	position:relative;
	top:0px;
	left:0px;
	margin-bottom:80px;
}
.wlzgBanner{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-960px;
	width:1920px;
	height:400px;
}
.wlzgBanner img{
	display:block;
	width:1920px;
	height:400px;
}
.wlzgTopFenLei{
	width:1190px;
	height:225px;
	background:url(../images/fenlei-bg.png) repeat-y;
	margin:175px auto 0px;
	position:relative;
	left:0px;
	top:0px;
}
.wlzgTopFenLeiList{
	height:110px;
	float:left;
	
}

.wlzgTopLeft{
	width:323px;
	height:110px;
	float:left;
	position:absolute;
	left:0px;
	top:0px;
}
.wlzgTopArea .wlzgTopLeft{
	position:absolute;
	top:115px;
	left:0px;
}
.wlzgTopLeftName{
	width:45px;
	height:110px;
	background:#000;
	float:left;
	text-align:center;
}
.wlzgTopLeftName span{
	margin:8px auto 0px;
	display:block;
	width:20px;
	font-size:18px;
	color:#fff;
}
.wlzgTopLeftList{
	width:252px;
	float:right;
	padding-top:25px;
	text-align:left;
	overflow:hidden;
}
.wlzgTopLeftList p a,.wlzgTopRList p  a{
	display:inline-block;
	width:64px;
	margin-right:20px;
	color:#fff;
	font-size:16px;
	text-align:left;
	line-height:33px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.wlzgTopArea{
	margin-top:5px;
}
.wlzgTopArea p a{
	width:54px;
	margin-right:8px;
}
.wlzgTopR{
	width:866px;
	height:225px;
	float:left;
	margin-left:1px;
	position:absolute;
	left:324px;
	top:0px;
}
.wlzgTopRList {
	display:none;
	text-align:left;
	padding-top:25px;
	padding-left:13px;
	width:853px;
	height:200px;
	overflow:hidden;
	background:url(../images/png-bg.png) repeat;
	position:absolute;
	top:0px;
	left:324px;
}
.wlzgTopRList p a{
	margin-right:25px;
}
.wlzgTopRArea p a{
	width:54px;
	margin-right:20px;
}
.wlzgTitMain{
	width:1100px;
	margin:0 auto 95px;
	overflow:hidden;
}
.wlzgTit{
	margin-bottom:60px;
}
.wlzgTit h3{
	display:inline-block;
	width:100%;
	height:38px;
	line-height:38px;
	background:#fff;
	font-size:40px;
	font-weight:normal;
	color:#0099ff;
	background:url(../images/quanjing-tit.gif) no-repeat center;
	margin-bottom:20px;
}
.wlzgTit span{
	color:#666;
	font-size:16px;
}
.wlzgLiucheng ul li{
	width:215px;
	background: url(../images/i-arrow.png) no-repeat center right;
	background-position:190px 25px;
	float:left;
}
.wlzgLiucheng ul li.icon05{
	background:none;
}
.wlzgLiucheng ul li div{
	/*width:190px;
	height:130px;*/
}
.wlzgLiucheng ul li div span{
	display:inline-block;
	background:url(../images/index-icon.gif) no-repeat center;
	width:215px;
	height:98px;
	margin-bottom:10px;
}
.wlzgLiucheng ul li div p{
	text-align:center;
	font-size:20px;
	color:#000;
	padding-right:20px;
}
.wlzgLiucheng ul li.icon01 span{
	background-position:47px 0px;
}
.wlzgLiucheng ul li.icon02 span{
	background-position:47px -98px;
}
.wlzgLiucheng ul li.icon03 span{
	background-position:47px -196px;
}
.wlzgLiucheng ul li.icon04 span{
	background-position:47px -392px;
}
.wlzgLiucheng ul li.icon05 span{
	background-position:47px -294px;
}
.wlzgHotTitMain{
	width:100%;
	margin:0 auto;
	overflow:hidden;
	border-bottom:#eaeaea 1px solid;
	margin-bottom:30px;
}
.wlzgHotTit{
	width:1190px;
	margin:0 auto;
	position:relative;
	left:0px;
	top:0px;
}
.wlzgHotTit h3{
	background:url(../images/hot-icon.gif) no-repeat left;
	height:56px;
	line-height:81px;
	font-size:30px;
	font-weight:normal;
	color:#000;
	text-align:left;
	padding-left:60px;
	padding-bottom:25px;
}
.wlzgHotTit p{
	height:45px;
	line-height:45px;
	float:right;
	font-size:20px;
	color:#000;
	padding-top:9px;
	position:absolute;
	right:0px;
	top:25px;
}
.wlzgHotTit p a{
	display:inline-block;
	color:#000;
	width:106px;
}
.wlzgAreaHotMain .wlzgHotTit p a{
	width:74px;
}
.wlzgHotTit p a:hover{
	border-bottom:#0099ff 2px solid;
}
.wlzgHotTit p a.wlzgHotTitMore:hover{
	border-bottom:none;
}
.wlzgHotCont{
	width:1190px;
	margin:0 auto;
	overflow:hidden;
	padding-left:14px;
	padding-top:19px;
}
.wlzgHotCont ul{
	width:1212px;
	overflow:hidden;
	margin-bottom:40px;
}
.wlzgHotCont li{
	width:364px;
	height:293px;
	float:left;
	margin-right:40px;
	position:relative;
	left:0px;
	top:0px;
}
.wlzgHotCont li a.blhImg{
	display:block;
	width:364px;
	height:216px;
}
.wlzgHotCont li p{
	font-size:16px;
	height:77px;
	line-height:77px;
	overflow:hidden;
}
.wlzgHotCont li p a{
	color:#666;
}
.wlzgHotCont li img{
	width:364px;
	height:216px;
}
.wlzgHotCont li b{
	width:140px;
	height:33px;
	line-height:33px;
	border:#fff 2px solid;
	font-size:16px;
	font-weight:normal;
	position:absolute;
	top:90px;
	left:110px;
	cursor:pointer;
	display:none;
	z-index:2;
}
.wlzgHotCont .blackBg{
	width:364px;
	height:216px;
	position:absolute;
	top:0px;
	left:0px;
	background:#000;
	display:none;
	opacity:0.4;
	filter:alpha(opacity=40);  
   -moz-opacity:0.4;         
}
.wlzgHotCont .blackBg a{
	display:block;
	width:364px;
	height:216px;
}
@-webkit-keyframes fadeIn{
	0%{
		opacity:1;
		transform:scale(1);
		-ms-transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-o-transform:scale(1); 	
	}
	100%{
		opacity:0;
		transform:scale(1.5);
		-ms-transform:scale(1.5);
		-moz-transform:scale(1.5);
		-webkit-transform:scale(1.5);
		-o-transform:scale(1.5); 
	}
}
@keyframes fadeIn{
	0%{
		opacity:1;
		transform:scale(1);
		-ms-transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-o-transform:scale(1); 	
	}
	100%{
		opacity:0;
		transform:scale(1.5);
		-ms-transform:scale(1.5);
		-moz-transform:scale(1.5);
		-webkit-transform:scale(1.5);
		-o-transform:scale(1.5); 
	}
}
.wlzgHotCont .whiteBroder{
	width:140px;
	height:33px;
	line-height:33px;
	border:#fff 2px solid;
	font-size:16px;
	font-weight:normal;
	position:absolute;
	top:90px;
	left:110px;
	cursor:pointer;
	display:none;
	z-index:3;
}
.wlzgHotCont ul li:hover .whiteBroder{
	animation-name:fadeIn;animation-duration:.5s;
	-ms-animation-name:fadeIn;-ms-animation-duration:.5s;
	-moz-animation-name:fadeIn;-moz-animation-duration:.5s;
	-webkit-animation-name:fadeIn;-webkit-animation-duration:.5s;
	-o-animation-name:fadeIn;-o-animation-duration:.5s;
}
.wlzgHotCont b a,.wlzgHotCont .whiteBroder a{
	display:block;
	width:140px;
	height:33px;
	color:#e5e5e5;
}
.bannerT01{
	width:1190px;
	height:90px;
	overflow:hidden;
	margin-bottom:50px;
	position:relative;
}
.bannerT01 img{
	width:1190px;
	height:90px;
}
.classifyProvince{
	position:relative;
	left:0px;
	top:-30px;
	width:1190px;
	height:115px;
	margin:0 auto -88px;
	overflow:hidden;
}
.classifyProvince p{
	width:1190px;
	margin:0 auto;
	font-size:16px;
	text-align:left;
	color:#000;
	line-height:28px;
}
.classifyProvince p a{
	color:#333;
	margin-right:19px;
}
.classifyProvince p a.on,.classifyProvince p a:hover{
	color:#0099ff;
	text-decoration:underline;
}
.provinceTab{
	z-index:5;
	position:absolute;
	right:0px;
	top:0px;
	width:120px;
	height:26px;
	line-height:26px;
	overflow:hidden;
	border:#dfdfdf 1px solid;
	background:#fff;
	color:#000;
}
.provinceTab span{
	display:inline-block;
	width:29px;
	height:26px;
	border-left:#dfdfdf 1px solid;
	float:right;
	background:url(../images/sanjiao.gif) no-repeat center;
}
.provinceTab span.provinceTabOn{
	background:url(../images/sanjiao-on.gif) no-repeat center;
}
.provinceTabList{
	z-index:4;
	width:574px;
	height:84px;
	border:#dfdfdf 1px solid;
	background:#fff;
	position:absolute;
	top:26px;
	right:0px;
	display:none;
}
.provinceTabList p{
	width:520px;
	margin:10px 45px 0px 20px;
}
.provinceTabList p a{
	display:inline-block;
	margin-right:20px;
	font-size:16px;
	line-height:30px;
}
.classifyHangyeMain{
	width:100%;
	overflow:hidden;
	margin-top:-60px;
}
.classifyHangyeTit{
	width:100%;
	height:40px;
	line-height:40px;
	overflow:hidden;
	position:relative;
	left:0px;
	top:0px;
}
.classifyHangyeTit h3{
	display:inline-block;
	font-size:28px;
	font-weight:normal;
	color:#000;
	padding:0 45px;
	background:#fff;
	position:relative;
	z-index:2;
}
.classifyHangyeTit span{
	display:inline-block;
	width:100%;
	height:1px;
	background:#dfdfdf;
	overflow:hidden;
	position:absolute;
	top:19px;
	left:0px;
}
.classifyHangyeArea{
	width:1092px;
	margin:25px auto 35px;
	overflow:hidden;
	text-align:left;
}
.classifyHangyeArea p a{
	display:inline-block;
	font-size:15px;
	height:22px;
	border-bottom:#fff 3px solid;
	color:#333;
	margin-right:22px;
	margin-bottom:8px;
	text-align:left;
}
.classifyHangyeArea p a.classifyHangyeOn,.classifyHangyeArea p a:hover{
	border-bottom:#0099ff 3px solid;
}
.selected{border-bottom: 2px solid #0099ff;}