
# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x45

# multiresolution settings
multires=true
tilesize=256
levels=2
levelstep=auto
maxsize=auto
maxcubesize=auto
leveldownload=auto

# output images path
tilepath=%INPUTPATH%/scene/[pian_c/]l%Al/%Av/l%Al[_c]_%Av_%Ah.jpg

# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/scene/preview.jpg

# generate smaller mobile images
customimage[mobile].size=1024
customimage[mobile].path=%INPUTPATH%/scene/pano_%s.jpg
customimage[mobile].imagesettings=jpegquality=85 jpegsubsamp=444 jpegoptimize=true
customimage[mobile].xml=<mobile>[NL][TAB]<cube url="[PATH]" />[NL]</mobile>

# xml output
xml=false
xmlpath=%INPUTPATH%/%BASENAME%.xml


# html output/template
html=false
htmlpath=%INPUTPATH%/%BASENAME%.html
htmltemplate=html/swfkrpano.html
htmltemplate_js=html/swfkrpano.js
htmltemplate_html5=auto

# compression settings (no jpegoptimize for very big panos)
jpegquality=82
jpegsubsamp=422
jpegoptimize=false
