/* start common*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
    margin:0;
    padding:0;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

ul,ol{
    list-style:none;
    line-height:20px;
}
ol li {
    list-style: decimal;
    margin-left: 30px;
}
fieldset,img{
    border:0;
}

body,button,input,select,textarea {
    font:12px/16px Verdana,Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
}

address,cite,dfn,em,var{
    font-style:normal;
}

code,kbd,pre,samp{
    font-family:Consolas,Courier new,Courier,monospace;
}

small{
    font-size:12px;
}

sup{
    vertical-align:text-top;
}

sub{
    vertical-align:text-bottom;
}

a{
    text-decoration:none;
}

a:link{
    color:#22659A;
}

a:visited{
    color:#22659A;
}

a:hover{
    text-decoration:underline;
}

a:active {
}
/*end common*/

/*start page*/

.page{
    width:910px;
    margin:0px auto;
    overflow:hidden;
    zoom:1;
}

/*start header*/
.header{
    overflow:hidden;
    zoom:1;
}
/* start top-menu*/
.top-menu{
    float:right;
}

.top-menu li{
    float:left;
    padding-left:17px;
    height:24px;
    line-height:24px;
    background:url(img/dot.png) 7px center no-repeat;
}

.top-menu li.first{
    background:none;
}

.top-menu li a{
    color:#727f97;
}
/*end top-menu*/

/* start banner*/
.banner{
    clear:both;
    height:27px;
    padding:16px 0px 10px 10px;
}
/*end banner*/
/*start nav*/
.nav{
    height:32px;
    padding-left:26px;
    overflow:hidden;
    background:url(img/nav_bar.png) no-repeat;
}

.nav li{
    float:left;
    width:86px;
    height:32px;
    font-size:14px;
    line-height:32px;
    font-weight:bold;
    text-align:center;
    overflow:hidden;
}

.nav li a{
    width:92px;
    height:36px;
    line-height:36px;
    text-align:center;
}

.nav a:link,.nav a:visited,.nav a:active{
    color:#FFF;
}

.nav li:hover a,.nav a:hover,.nav a.active{
    display:block;
    width:92px;
    background:url(img/nav_hover.png) no-repeat;
    text-decoration:none;
    color:#104 !important;
}
.new{
    width:92px!important;
    background:url(img/new.png) no-repeat 76px 11px;
}
/*end nav*/
/*end header*/

/*start main*/
.main{
    margin-top:20px;
    overflow:hidden;
    zoom:1;
}
.page_left{
    width:260px;
    margin-right:10px;
    float:left;
    overflow:hidden;
    zoom:1;
}

.page_right{
    width:640px;
    overflow:hidden;
    zoom:1;
    float:left;
}
/*end main*/

/*start footer*/
.footer{
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    overflow:hidden;
    color: #A3A3A3;
}
/*end footer*/
/*end page*/




* {
    margin: 0px;
    padding: 0px;
}

#main {
    height: 383px;
    width: 912px;
    margin: 0px auto;
    border: 1px solid #5688CB;
    border-top: 0px;
}

#tooles {
    height: 23px;
    background: #5688CB;
    position: relative;
    z-index: 100;
    color:white;
}

#bside_left {
    width: 260px;
    height: 330px;
    padding: 10px 0px 10px 10px;
    float: left;
    overflow: auto;
}

#cur_city, #no_value {
    height: 20px;
    position: absolute;
    top: 3px;
    left: 10px;
}

#cur_city .change_city {
    margin-left: 5px;
    cursor: pointer;
}


#level {
    margin-left: 20px;
}


.logo_img {
    width: 172px;
    height: 23px;
}

.search {
    width: 280px;
    height: 53px;
    padding-left: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 30px;
}

.search_t {
    width: 200px;
    height: 18px;

    padding: 3px;
    margin-top: 13px;
    line-height: 20px;
}

.search_c {
    width: 220px;
    height: 40px;
    float: left;
}

.btn, .btn_active {
    width: 49px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    float: left;
    background: url(img/btn.png);
    margin-top: 14px;
    text-align: center;
    cursor: pointer;
}

.btn_active {
    background: url(img/btn.png) -49px 0px;
}

.poi {
    width: 570px;
    height: 41;
    padding-top: 12px;
    float: left;
    position: relative;
}

.poi_note {
    width: 63px;
    line-height: 26px;
    float: left;
}

#poi_cur {
    width: 160px;
    height: 22px;
    margin-right: 10px;
    margin-top: 3px;
    line-height: 26px;
    float: left;
    text-align: center;
}

#addr_cur {
    width: 200px;
    height: 22px;
    margin-right: 5px;
    margin-top: 3px;
    line-height: 26px;
    float: left;
    text-align: center;
}

.btn_copy {
    width: 49px;
    height: 24px;
    background: url(img/btn_cpoy.png) 0px 0px;
    float: left;
}

.already {
    width: 52px;
    line-height: 26px;
    padding-left: 5px;
    float: left;
    color: red;
    display: none;
}

.info_list {
    margin-bottom: 5px;
    cleat: both;
    cursor: pointer;
}

#txt_pannel {
    height: 360px;
}

#city {
    width: 356px;
    height: 433px;
    padding: 10px;
    border: 2px solid #D6D6D6;
    position: absolute;
    left: 44px;
    top: 20px;
    z-index: 999;
    background: #fff;
    overflow: auto;
    color: black;
}

#city .city_class {
    font-size: 12px;
    background: #fff;
}

#city .city_container {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}

#city .city_container_left {
    width: 48px;
    float: left;
}

#city .city_container_right {
    width: 289px;
    float: left;
}

#city .close {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

#city .city_name {
    line-height: 20px;
    margin-left: 5px;
    color: #2F82C4;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
}

#curCity {
    margin-right: 5px;
}

.hide {
    display: none;
}

#bside_rgiht {
    width: 631px;
    height: 360px;
    margin-left: 10px;
    border-left: 1px solid #5688CB;
    float: left;
    font-size: 12px;
}

#container {
    width: 621px;
    height: 350px;
    border: 5px solid #fff;
}

#no_value{
    color:red;
    position: relative;
    width:200px;
}