@charset "utf-8";
*{
    font: 12px "微软雅黑", "宋体", Helvetica, Arial, Verdana;
}
body{margin:0;padding:0;}
ul,li,dl,dt,dd{ margin:0px; padding:0px; list-style:none;}
a{text-decoration:none;}
a:link{}
a:visited{}
a:hover{text-decoration:underline;}
a:active{}
img{border:0;padding:0; margin:0;}
p{padding:0; margin:0;}
b{
    font-weight: bold; 
}


/*MsxBox样式开始*/
.msgbox{
    width: 300px; height: 80px; overflow: hidden; border-radius: 4px;
    background: url(../images/msg/hei.png) repeat;
    position: fixed; z-index: 1000000000; cursor: default;
}
.msgbox .main{
    width: 290px; height: 70px; overflow: hidden; margin: 5px; background: #fff; border-radius: 3px;
}
.msgbox .main .msgform{
    width: 280px; height: 60px; overflow: hidden; padding: 5px;
}
.msgbox .main .msgform table{
    margin: 0px; padding: 0px; overflow: hidden;
}
.msgbox .main .msgform .good{
    width: 48px; height: 48px; overflow: hidden;
    background: url(../images/msg/msg1.png) no-repeat;
}
.msgbox .main .msgform .bad{
    width: 48px; height: 48px; overflow: hidden;
    background: url(../images/msg/msg0.png) no-repeat;
}
.msgbox .main .msgform .tan{
    width: 48px; height: 48px; overflow: hidden;
    background: url(../images/msg/msg2.png) no-repeat;
}
.msgbox .main .msgform span{
    font-size: 14px;
}
.msgbox .main .msgform span.red{
    color: #be0000;
}
.msgbox .main .msgform span.green{
    color: #1F9999;
}
/*MsxBox样式结束*/